
// import font here

$font-primary: sans-serif;
$font-secondary: serif;

$font-size-medium: 1rem;
$font-size-large: 1.125rem;

$line-height-small: 1.1;
$line-height-medium: 1.3;
$line-height-large: 1.5; 